In [1]:
var1 = input()
var2 = input()

print(var1 + var2)

100
200
100200

In [2]:
var1 = int(input())
var2 = int(input())

print(var1 + var2)

100
200
300

In [5]:
a = 200

if a<100 :
    print('less than 100.')
else : 
    print('more than 100.')

more than 100.

In [13]:
for i in range(0, 10, 5):
    print('study for.')

study for.
study for.

In [1]:
for i in range(1,100):
    print("for문을 %d번 실행했습니다." %i)
    break

for문을 1번 실행했습니다.

In [2]:
while True : 
    print('h', end='')
    break

h

In [6]:
def plus(v1,v2) :
    result = 0 # result 0으로 초기화
    result = v1+v2
    return result

hap = 0

hap = plus(100,200)
print('100, 200의 plus() 함수 결과는 %d' %hap)

100, 200의 plus() 함수 결과는 300

In [9]:
def func1() :
    global a
    a=10
    print("func1()에서 a 값 %d" %a)
    
def func2() :
    print("func2()에서 a 값 %d" %a)
    
a = 20

func1()
func2()

func1()에서 a 값 10
func2()에서 a 값 10

In [10]:
def multi(v1,v2) :
    retList = [] # 차곡차곡 쌓을 수 있는 깡통
    res1 = v1 + v2
    res2 = v1 - v2
    retList.append(res1)
    retList.append(res2)
    return retList

myList = []
hap, sub = 0,0

myList = multi(100,200)
hap = myList[0]
sub = myList[1]
print("multi()에서 반환한 값 ->%d, %d" %(hap, sub))

multi()에서 반환한 값 ->300, -100

In [11]:
aa = []
aa.append(0)
aa.append(0)
aa.append(0)
aa.append(0)
aa

[0, 0, 0, 0]

In [12]:
aa=[]
for i in range(0, 100): # 총 100번 돈다 <- 0~99 까지
    aa.append(0)
len(aa)

100

In [13]:
aa

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [21]:
aa=[]

for i in range(0,4):
    aa.append(0)
# hap=0

for i in range(0,4):
    aa[i] = int(input(str(i+1)+"번 째 숫자 :"))


for i in range(0,4):
    hap = hap + aa[i]
    
print("합계 ==> %d" %hap)

1번 째 숫자 :10
2번 째 숫자 :20
3번 째 숫자 :30
4번 째 숫자 :40
합계 ==> 200

In [26]:
list1=[]
list2=[]
value=1

for i in range(0,3) :
    for k in range(0,4) :
        list1.append(value)
        value+=1
    list2.append(list1)
    list1=[]
    
for i in range(0,3) :
    for k in range(0,4) :
        print("%3d"%list2[i][k], end="") #3d 하면 3칸씩 ""을 때준다
    print('')

  1  2  3  4
  5  6  7  8
  9 10 11 12